.welcoming{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: max(min(80px, 5%), 5px);
    margin-bottom: max(min(100px, 7%), 5px);
  }
  #welcomeTitle{
    font-size: 40px;
    color: #1E448A;
    margin-bottom: 0;
  }
  .card-div {
    top: 0;
    height: min(598px, 90vh);
  }
  
  .card-div mat-card {
    padding: 0;
    max-width: 500px !important;
    margin: 5px;
  }
  
  .post-form {
    padding: 20px  ;
  }
  #showP{
    margin-bottom: 0.5em;
  }
  
  .mt-5 {
    margin: 10px;
  }
  