<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Register</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="post-form" [formGroup]="formGroup" (ngSubmit)="register()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
        <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="{{passwordType}}" placeholder="Password" formControlName="password">
        <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <label id="showP">
        <input type="checkbox" name="showP"
               value="invisible" (click)="togglePass()">
        Show Password
      </label>
      <mat-error *ngIf="error">
        {{error.error}}
      </mat-error>
      <button mat-raised-button type="submit" class="mt-5" color="primary">Register</button>
      <button mat-raised-button class="mt-5" color="accent" (click)="switchToLogin()">To Login?</button>
    </form>
  </mat-card>
</div>
