<div class="welcoming">
  <h1 id="welcomeTitle">Welcome to Forum Echo&trade;</h1>
</div>
<div fxLayoutAlign="center start" class="card-div" *ngIf="!spinner; else Spinner">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Register</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="post-form"
          [formGroup]="formGroup" (ngSubmit)="register()"
    >
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
        <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="{{passwordType}}" placeholder="Password" formControlName="password">
        <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <label id="showP">
        <mat-checkbox name="showP" (click)="togglePass()">Show Password</mat-checkbox>
      </label>
      <button mat-raised-button type="submit" class="mt-5" color="primary">Register</button>
      <a routerLink="/login" class="anchor">Sign In</a>
    </form>
  </mat-card>
</div>
<ng-template #Spinner>
  <div fxLayoutAlign="center start">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

