.main-div {
  margin-top: -70px;
}

.main-div mat-card {
  padding: 0;
  max-width: 500px !important;
  margin: 5px;
}

.post-form {
  padding: 20px  ;
}

.mt-5 {
  margin: 10px;
}

#showP{
  margin-bottom: 0.5em;
}
