<div *ngIf="isLoggedIn(); else elseBlock" fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">User Settings for {{username}}</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="editUser()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Old Password" type={{passwordType}} formControlName="old_password">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="New Password" type={{passwordType}} formControlName="new_password">
      </mat-form-field>
      <label id="showP">
        <mat-checkbox name="showP" (click)="togglePass()">Show Password</mat-checkbox>
      </label>
      
        <button mat-raised-button type="submit" class="form-button mt-5" color="primary">Save</button>

        <button mat-raised-button class="mt-5" color="accent" (click)="logOut()">Log out</button>

        <button mat-raised-button class="mt-5" color="warn" (click)="delUser()">Delete User</button>
        <a class="form-button" id="request-data" (click)="openSnackBar()">Request data</a>
    </form>
  </mat-card>
</div>

<ng-template #elseBlock>
  <div fxLayoutAlign="center center" fxFlexFill class="notLoggedIn">
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Not Logged in!</mat-toolbar>
      <form fxLayout="column" fxLayoutAlign="stretch"></form>
      <mat-error class="error-field">
        <mat-icon>warning</mat-icon> You seem to not be logged in! What do you want to do?
      </mat-error>
      <form fxLayoutAlign="stretch" fxLayout="column" >
        <button mat-raised-button class="mt-5" color="primary" (click)="toLogin()">Already have an account?</button>
        <button mat-raised-button class="mt-5" color="accent" (click)="toRegister()">Register</button>
      </form>
    </mat-card>
  </div>
</ng-template>
