<!-- <form>
    <mat-form-field class="sorter">
      <mat-label>Sort by</mat-label>
      <mat-select [(ngModel)]="selected" name="selected">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</form> -->
<button type="button" (click)="toggleSelection(0)" [ngClass]="{'clicked': selection[0]}">
  Top
</button>
<button type="button" (click)="toggleSelection(1)" [ngClass]="{'clicked': selection[1]}">
  Newest
</button>