<mat-toolbar class="topBar" color="primary">
  <a *ngIf="isLoggedIn(); else elseBlock" routerLink="settings">
    <span class="profileDot">
      <img id="profileIcon" src="assets/pictures/settings.png" alt="profile_icon">
    </span>
  </a>
  <ng-template #elseBlock>
    <a routerLink="login">
      <span class="profileDot">
        <img  alt="profile_icon" id="profileIcon" src="assets/pictures/profile_icon.png">
      </span>
    </a>
  </ng-template>
  <a routerLink="/">
    <img alt="FE-logo" src="assets/pictures/FE-logo.png" id="EUFlag">
  </a>
  <a routerLink="newpost">
    <img alt="newpost" id="addIcon" src="assets/pictures/add_icon.png" *ngIf="showAdd()">
  </a>

</mat-toolbar>
