.content mat-card {
  min-height: 550px;
  padding: 0;
  max-width: 500px !important;
  margin: 5px;
}

.post-form {
  padding: 20px  ;
}

.post-form textarea {
  height: 240px;
  resize: none;
}

button {
  margin: 5px;
}
