<div fxLayoutAlign="center center" fxFlexFill class="content">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Appearance</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <button mat-raised-button class="mt-5" disabled="{{!getTheme()}}" color="accent" (click)="toggleTheme()">White Mode</button>
    
      <button mat-raised-button class="mt-5" disabled="{{getTheme()}}" color="primary" (click)="toggleTheme()">Dark Mode</button>
    </form>
  </mat-card>
</div>
