.content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin-top: 3.5em;
}
.proposal {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 30px;
  width: 45vw;
  min-width: 300px;
  /* height: 400px; */
  margin: 0em 0 3em;
  
}
.proposal-head {
  margin: 15px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proposal h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 30;
  font-weight: 500;
  color: #1E448A;
  text-align: center;
}
.policy {
  height: 15em;
  margin: 0 15px 0px;
  overflow:auto;
  text-align: justify;
  line-height: 120%;
}
.metaData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}
.upDown {
  display:flex;
  align-items: center;
  margin-left: 15px;
}
.date {
  margin-right: 15px;
}