<div class="content" #connected infinite-scroll [infiniteScrollDistance]="3">
  <mat-card class="proposal" *ngFor="let x of response; let i = index">
    <mat-toolbar class="proposal-head" color="primary">
      {{x.title}}
      <a routerLink="/editpost/{{x._id}}" *ngIf="isAuthor(x.authorId)" id="editLink"><img src="assets/pictures/edit_icon.png" style="width:1.5em; height: 1.5em;" alt="edit_icon"></a>
    </mat-toolbar>
    <p class="policy">
      {{x.content}}
    </p>
    <div class="metaData" *ngIf="isLoggedIn(); else notLoggedIn" >
      <div class="upDown">
      <img alt="upvote" src="{{emptyFilledPath[getUpvote(i)]}}" class="upVote" width="25" height="25" (click)="voteUp(i)" style="cursor: pointer; padding: 5px">
      {{displayVotes(x)}}
      <img alt="downvote" src="{{emptyFilledPath[getDownvote(i)]}}" class="downVote" width="25" height="25" (click)="voteDown(i)" style="transform: scaleY(-1); cursor: pointer; padding: 3px">
      </div>
      <div class="rightOptions">
        <div class="date">{{x.created.substring(0,10).split('-').reverse().join('/')}}</div>
        <button mat-icon-button class="flagPost" (click)="openFlagDialog(x)"><mat-icon >outlined_flag</mat-icon></button>
      </div>
  </div>
    <ng-template #notLoggedIn>
        <div class="metaData">
          <div class="upDown">
            <img alt="upvote" src="{{emptyFilledPath[getUpvote(i)]}}" class="upVote" width="25" height="25" style="cursor: pointer; padding: 5px">
            {{displayVotes(x)}}
            <img alt="downvote" src="{{emptyFilledPath[getDownvote(i)]}}" class="downVote" width="25" height="25" style="transform: scaleY(-1); cursor: pointer; padding: 3px">
          </div>
          <div class="rightOptions">
            <div class="date">{{x.created.substring(0,10).split('-').reverse().join('/')}}</div>
            <button mat-icon-button class="flagPost" (click)="openFlagDialog(x)"><mat-icon >outlined_flag</mat-icon></button>
          </div>
        </div>
    </ng-template>
  </mat-card>
</div>
