.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 3.5em; */
  padding-bottom: 3em !important;
  border-radius: 4px!important;
}

.proposal {
  padding: 0;
  width: 45vw;
  min-width: 280px;
  margin-bottom: max(min(3%, 3em), 1em);
}

a.ng-star-inserted {
  width: 1.5em;
  height: 1.5em;
}

.proposal-head {
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proposal h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #1E448A;
  text-align: center;
}

.policy {
  height: 15em;
  margin: 15px 15px 0;
  overflow:auto;
  text-align: justify;
  line-height: 150%;
}

.metaData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px !important;
}

.upDown {
  display:flex;
  align-items: center;
  margin-left: 15px;
}

.date {
  margin-right: 15px;
}
