.info {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E448A;
  background-color:  #E5E9F0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  bottom: 0;
  position: fixed;
  border-top: 1px solid rgba(0,0,0,0.20);
  z-index: 10;
}
#infoIcon {
  padding-right: 0.3em;
  margin-right: 0.2em;
}