.info {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E448A;
  background-color:  #E5E9F0;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  bottom: 0;
  position: fixed;
  border-top: 1px solid rgba(0,0,0,0.20);
  z-index: 10;
}
#infoIcon {
  width: 1.5em;
  height:1.5em;
  padding: 0 5px;
}
